#container{
    display: grid;
    grid-template-columns: repeat(1,fr);
    width: 80%;
    margin: auto;
}

#container>div{
    display: flex;
    justify-content: space-around;
    text-align:left;
    border:1px solid black
}

#table{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border:1px solid black
}


#table>h1{
    padding: 30px;
   
}

h1{
    text-align: center;
}

#search{
    margin-left: 15%;
}